*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height:100%;	
}
.main{
	width: 100%;
	height:100%;		
	transition: transform 1s;
	-moz-transition: transform 1s; /* Firefox 4 */
	-webkit-transition: transform 1s; /* Safari 和 Chrome */
	-o-transition: transform 1s; /* Opera */
}
header{
	height:50px;
	width:100%;
	border:1px solid #ccc;
}

footer{
	height:100px;
	width:100%;
	border:1px solid #ccc;
}
.pointer{
	height:100px;
	width:60px;
	left: 50%;
	margin-left: -30px;
	position: absolute;
	bottom: 0px;
}
.arrow{
	border:2px solid #fff;
	border-radius: 100%;
	-webkit-border-radius:100%;
	width:60px;
	height:60px;
	line-height: 52px;
	text-align: center;
	font-family: '微软雅黑','宋体','新宋体',sans-serif;
	font-size:20px;
	/*旋转*/
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 
	color:#fff;
	cursor: pointer;
	position:absolute;
	
	bottom: 30px;
	

	animation: arrow 1s ease 0s infinite alternate;  /*alternate*/
    -moz-animation: arrow 1s ease 0s infinite alternate; /* Firefox */
    -webkit-animation: arrow 1s ease 0s infinite alternate; /* Safari and Chrome */
    -o-animation: arrow 1s ease 0s infinite alternate; /* Opera */
}
.shadow{
	height: 20px;
	width:60px;
	border-radius: 50%;
	-webkit-border-radius:50%;	
	position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: -30px;
	opacity:0.5;
	background-color: #000;
	animation: shadow 1s ease 0s infinite alternate;  /*alternate*/
    -moz-animation: shadow 1s ease 0s infinite alternate; /* Firefox */
    -webkit-animation: shadow 1s ease 0s infinite alternate; /* Safari and Chrome */
    -o-animation: shadow 1s ease 0s infinite alternate; /* Opera */
}

/*箭头动画*/
@keyframes arrow{
	from {
		opacity:1;
		bottom: 30px;
	}
	to {
		opacity: 0.5;
		bottom:80px;
	}
}

@-moz-keyframes arrow
{
	from {
		opacity:1;
		bottom: 30px;
	}
	to {
		opacity: 0.5;
		bottom:80px;
	}
}

@-webkit-keyframes arrow
{
	from {
		opacity:1;
		bottom: 30px;
	}
	to {
		opacity: 0.5;
		bottom:80px;
	}
}

@-o-keyframes arrow
{
	from {
		opacity:1;
		bottom: 30px;
	}
	to {
		opacity: 0.5;
		bottom:80px;
	}
}

/*阴影动画*/
@keyframes shadow{
	from {
		height: 20px;
		width:60px;
		border-radius: 50%;
		-webkit-border-radius:50%;
		margin-left: -30px;
	}
	to {
		height: 10px;
		width:30px;
		border-radius: 50%;
		-webkit-border-radius:50%;
		margin-left: -15px;
	}
}

@-moz-keyframes shadow
{
	from {
		height: 20px;
		width:60px;
		border-radius: 50%;
		-webkit-border-radius:50%;
	}
	to {
		height: 10px;
		width:30px;
		border-radius: 50%;
		-webkit-border-radius:50%;
		margin-left: -15px;
	}
}

@-webkit-keyframes shadow
{
	from {
		height: 20px;
		width:60px;
		border-radius: 50%;
		-webkit-border-radius:50%;
	}
	to {
		height: 10px;
		width:30px;
		border-radius: 50%;
		-webkit-border-radius:50%;
		margin-left: -15px;
	}
}

@-o-keyframes shadow
{
	from {
		height: 20px;
		width:60px;
		border-radius: 50%;
		-webkit-border-radius:50%;
	}
	to {
		height: 10px;
		width:30px;
		border-radius: 50%;
		-webkit-border-radius:50%;
		margin-left: -15px;
	}
}